<div class="container mt-5">
  <div class="row">
      <div class="col-md-8 offset-md-2">
          <h2 class="text-center">Aviso de Privacidad</h2>
          <hr>
          <p>
              En cumplimiento con lo establecido en la Ley de Protección de Datos Personales, se le informa que los datos personales proporcionados serán tratados de manera confidencial y utilizados únicamente para los fines mencionados en nuestra política de privacidad.
          </p>
          <p>
              <strong>¿Quiénes somos?</strong><br>
              Novedades Hola, mejor conocido como Juan perez , con domicilio en calle Xalapa 12, colonia El llano, ciudad Huejutla,
              municipio o delegación Huejutla, c.p. 92143, en la entidad de Hidalgo, país Mexico , es el responsable del uso y protección de
              sus datos personales, y al respecto le informamos lo siguiente:
          </p>
          <p>
            <strong>¿Para qué fines utilizaremos sus datos personales?</strong>
          </p>
          <ul>
            <li>Para mayor seguridad</li>
            <li>Mercadotecnia o publicitaria</li>
            <li>Prospección comercial</li>
          </ul>
          <p>En caso de que no desee que sus datos personales se utilicen para estos fines secundarios,
            indíquelo a continuación:
            <br>
            <br>
            No consiento que mis datos personales se utilicen para los siguientes fines:
            <br>
            <strong>
              [  ] Para mayor seguridad <br>
              [  ] Mercadotecnia o publicitaria <br>
              [  ] Prospección comercial <br>
            </strong>
            <br>
            La negativa para el uso de sus datos personales para estas finalidades no podrá ser un motivo para
            que le neguemos los servicios y productos que solicita o contrata con nosotros.</p>
          <p>
              <strong>¿Dónde puedo consultar el aviso de privacidad integral?</strong><br>
              Para conocer mayor información sobre los términos y condiciones en que serán tratados sus
              datos personales, como los terceros con quienes compartimos su información personal y la forma
              en que podrá ejercer sus derechos ARCO, puede consultar el aviso de privacidad integral en:
          </p>
      </div>
  </div>
</div>
