
  <div class="container mt-4 row">
    <div class="card m-2" style="width: 18rem;">
      <div class="img-user mt-2">
        <img src="https://cdn-icons-png.flaticon.com/512/4139/4139981.png" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Luis Jair Escalante Cruz</h5>
        <p class="card-text"><strong>Grado: 7</strong></p>
        <p class="card-text"><strong>Grupo: A</strong></p>
        <p class="card-text"><strong>Carrera: Ingenieria en desarrollo y gestion de software</strong></p>
      </div>
    </div>
    <div class="card m-2" style="width: 18rem;">
      <div class="img-user mt-2">
        <img src="https://cdn-icons-png.flaticon.com/512/6997/6997662.png" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">Mabel Bautista Alvarado</h5>
        <p class="card-text"><strong>Grado: 7</strong></p>
        <p class="card-text"><strong>Grupo: A</strong></p>
        <p class="card-text"><strong>Carrera: Ingenieria en desarrollo y gestion de software</strong></p>
      </div>
    </div>
  </div>
