<footer class="mt-auto">
  <h2>Visita Nuestras Redes Sociales</h2>
        <div class="redes-sociales">
          <a href="https://www.facebook.com/profile.php?id=100095249131912"><img src="../img/Facebook.png" alt="Facebook" /></a>
          <a href="https://twitter.com/Ehecatl2319"><img src="../img/twitter.png" alt="Twitter" /></a>
          <a href="https://www.instagram.com/ehecatl2319/"><img src="../img/Instagram.png" alt="Instagram" /></a>
        </div>
          <p>Rio tecoluco 43, fraccionamiento todos por Hidalgo.</p>
  <p>&copy; 2023 Ehecatl "Aliento de vida". Todos los derechos reservados.</p>
</footer>
