img{
  max-width: 100px;
  margin-top: 10%;
}
.productGeneral{
  display: flex;
  background-color: rgb(228, 224, 224);
}
.container{
  background-color: white;
}
.img-product{
  display: flex;
  justify-content: center;
}
.hover-elevate {
  transition: transform 0.3s ease;
}

.hover-elevate:hover {
  transform: translateY(-10px);
}
li{
  list-style: none;
}
.list{
  margin-right: 5%;
}
