img{
  max-width: 100px;
  margin-top: 10%;
}
.productGeneral{
  display: flex;
}
.img-product{
  display: flex;
  justify-content: center;
}
.hover-elevate {
  transition: transform 0.3s ease;
}

.hover-elevate:hover {
  transform: translateY(-10px);
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
